<div class="page">
    <div class="page-header">Weather Forecast</div>
    <div class="page-body">
      <div class="page-body__sidebar">
          <ul class="cities-list">
              <li class="cities-list__item" 
              *ngFor="let city of cities; index as i"
              (click)="onChooseCity(i)">
                  {{ city.name }}
              </li>
          </ul>
      </div>
      <div class="page-body__details">
        <app-weather-details 
        *ngIf="chosenCity > -1"
        [forecast]="cities[chosenCity].forecast"></app-weather-details>
      </div>
    </div>
</div>